{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Webtunix Attandance System
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../static/css/material-dashboard.css" rel="stylesheet">

  <script src="../static/js/core/jquery.min.js"></script>
  <!--date picker js-->
</head>

<body>
  <div class="login-wrap-center">
    <div class="container">
      <div class="col-md-12">
        <div class="item">
          <div class="logo-img mb-3">
            <img src="/static/img/wt-logo.png">
          </div>
          <h5>Forgot Password</h5>
          <p class="mb-5">Enter your email to get a password reset link</p>
          <form>
            <div class="form-row">

              <div class="form-group col-md-12 mb-3">
                <label>Email Address</label>
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-md-12 mb-3">
                <button>Reset Password</button>
              </div>

            </div>
          </form>
          <div class="container">
            <div class="col-md-12">
              <p class="text-line">Remember your password ? <a href="/" class="text-danger"><strong> Login</strong> </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->

  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap-material-design.min.js"></script>
</body>

</html>
