{% extends 'dashboard/base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h3 class="float-left mt-0"><strong>Overtime</strong></h3>
      <button class="addbtn float-right" data-toggle="modal" data-target="#overtimemodel"><i class="fa fa-plus pr-2"></i>Add Overview</button>
    </div>
  </div>
  <div class="overtime-section">
    <div class="row mb-5">
      <div class="col-md-3">
        <div class="leave-section">
          <h5>Overtime Employee</h5>
          <h5 class="leave-heading">11<span>This month</span></h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leave-section">
          <h5>Overtime Hours</h5>
          <h5 class="leave-heading">118<span>This month</span></h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leave-section">
          <h5>Pending Request</h5>
          <h5 class="leave-heading">23<span>This month</span></h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leave-section">
          <h5>Rejected</h5>
          <h5 class="leave-heading">5<span>This month</span></h5>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-4">
    <div class="col-md-12">
      <div class="overtime-table">
        <div class="data-table">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">OT Date</th>
                  <th scope="col" class="date-row">OT Hours</th>
                  <th scope="col" class="date-row">OT Type</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Approved By</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>John Doe</td>
                  <td>8-Mar-2019</td>
                  <td>2</td>
                  <td>Normal day OT 1.5x</td>
                  <td>Lorem ipsum dollar</td>
                  <td><button class="leave-appr">Approved</button></td>
                  <td class="pt-2">
                    <h2 class="table-pic">
                      <a><img src="../static/img/profile11.png" class="pr-3"></a>
                      <a>John<br><span>Web Developer</span></a>
                    </h2>
                  </td>
                  <td>
                    <a class="mr-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
                    <div class="dropdown-menu mr-5">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#overtimeeditleavemodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#overtimedeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="tablecaption float-left">
        <caption>Showing 1 to 10 of 12 entries</caption>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pagination-section float-right">
        <nav aria-label="Page navigation example pb-0">
          <ul class="pagination pg-blue">
            <li class="page-item"><a class="page-link">Previous</a></li>
            <li class="page-item  active"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!------------------------------------------------------------------pagination row closed here------------------------------------------------>
  <!--------------------------------------------------------ADD LEAVE MODEL START HERE----------------------------------------------------------->
  <div class="wrap-model">
    <div class="modal fade" id="overtimemodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add Overtime</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-5 mt-4">
            <form>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Select Employee</label>
                  <select class="custom-select browser-default" required>
                    <option value="">John Doe</option>
                    <option value="1">John Doe</option>
                    <option value="2">John Doe</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Overtime Date</label>
                  <div class="md-form mt-0">
                    <input class="datepicker" id="addovertimeinput" width="461" />
                    <script>
                      $('#addovertimeinput').datepicker({
                        footer: true,
                        modal: true
                      });

                    </script>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <label>Overtime Hours</label>
                <input type="text" class="form-control mb-4" placeholder="">
              </div>


              <div class="col-md-12">
                <label for="addtextarea">Description</label>
                <textarea id="addtextarea" class="form-control mb-4" rows="8"></textarea>
              </div>

              <button class="dept-save">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------------ADD LEAVE MODEL CLOSED HERE----------------------------------------------->

  <!--------------------------------------------------------EDIT MODEL START HERE----------------------------------------------------------->
  <div class="wrap-model">
    <div class="modal fade" id="overtimeeditleavemodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Edit Overtime</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-5 mt-4">
            <form>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Select Employee</label>
                  <select class="custom-select browser-default" required>
                    <option value="">John Doe</option>
                    <option value="1">John Doe</option>
                    <option value="2">John Doe</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Overtime Date</label>
                  <div class="md-form mt-0">
                    <input class="datepicker" id="overtimeinput" width="461" />
                    <script>
                      $('#overtimeinput').datepicker({
                        footer: true,
                        modal: true
                      });

                    </script>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <label>Overtime Hours</label>
                <input type="text" class="form-control mb-4" placeholder="">
              </div>


              <div class="col-md-12">
                <label for="addtextarea">Description</label>
                <textarea id="addtextarea" class="form-control mb-4" rows="8"></textarea>
              </div>

              <button class="dept-save">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------------EDIT MODEL CLOSED HERE----------------------------------------------->
  <!-----------------------------------------------------------DELETE MODEL START HERE-------------------------------------------->
  <div class="department-input">
    <div class="modal fade" id="overtimedeletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Delete Overtime</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-5 mt-4 mb-4">
            <p>Are you sure want to Cancel this?</p>
            <div class="select-btn mx-auto">
              <button class="deletetbtn">Delete</button>
              <button class="deletetbtn ml-3">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------------DELETE MODEL CLOSED HERE----------------------------------------------->
</div>


{% endblock %}
