{% extends 'dashboard/base.html' %}
{% block content %}
<!--------------------------------------------------------------------------TOP NAV CLOSED HERE--------------------------------------------------- -->

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h3 class="float-left mt-0"><strong>Termination</strong></h3>
            <button class="addbtn float-right" data-toggle="modal" data-target="#addterminationmodel"><i class="fa fa-plus pr-2"></i>Add Termination</button>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <div class="overtime-table">
                <div class="data-table">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Termination Employee</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Termination Type</th>
                                    <th scope="col">Termination Date</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">Notice Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <h2 class="table-pic">
                                            <a><img src="../static/img/profile11.png" class="pr-3"></a>
                                            <a>John<br><span>Web Developer</span></a>
                                        </h2>
                                    </td>
                                    <td>Web Development</td>
                                    <td>Misconduct</td>
                                    <td>28-Feb-2019</td>
                                    <td>Lorem Ipsum Dollar</td>
                                    <td>28 Feb 2019</td>
                                    <td>
                                        <a class="mr-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
                                        <div class="dropdown-menu mr-5">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationeditmodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationdeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="tablecaption float-left">
                <caption>Showing 1 to 10 of 12 entries</caption>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pagination-section float-right">
                <nav aria-label="Page navigation example pb-0">
                    <ul class="pagination pg-blue">
                        <li class="page-item"><a class="page-link">Previous</a></li>
                        <li class="page-item  active"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!------------------------------------------------------------------pagination row closed here------------------------------------------------>
    <!--------------------------------------------------------ADD LEAVE MODEL START HERE----------------------------------------------------------->
    <div class="wrap-model">
        {% if invalid_employee_id %}
        <div class="modal fade in" id="addterminationmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            {% else %}
        <div class="modal fade" id="addterminationmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            {% endif %}
            
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Terminate Employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-5 mt-4">
                        <form method="post">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <label>Employee ID</label>
                                <input type="text" class="form-control mb-4" placeholder="" name="Emp_id">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Termination Type</label>
                                    <select class="custom-select browser-default" required name="termination_type">
                                        <option value="Other">Other</option>
                                        <option value="Misconduct">Misconduct</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Termination Date</label>
                                    <div class="md-form mt-0">
                                        <input class="datepicker" id="terminationdateinput" width="461" name="termination_date" />
                                        <script>
                                            $('#terminationdateinput').datepicker({
                                                footer: true,
                                                modal: true
                                            });

                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="addtextarea">Reason</label>
                                <textarea id="addtextarea" class="form-control mb-4" rows="8" name="reason"></textarea>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Notice Date</label>
                                    <div class="md-form mt-0">
                                        <input class="datepicker" id="addovertimeinput" width="461" name="notice_date">
                                        <script>
                                            $('#addovertimeinput').datepicker({
                                                footer: true,
                                                modal: true
                                            });

                                        </script>
                                    </div>
                                </div>
                            </div>

                            <button class="dept-save" type="submit">Terminate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------------------------------------ADD MODEL CLOSED HERE----------------------------------------------->

    <!--------------------------------------------------------EDIT MODEL START HERE----------------------------------------------------------->
    <div class="wrap-model">
        <div class="modal fade" id="terminationeditmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Edit Overtime</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-5 mt-4">
                        <form>
                            <div class="col-md-12">
                                <label>Termination Employee</label>
                                <input type="text" class="form-control mb-4" placeholder="">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Termination Type</label>
                                    <select class="custom-select browser-default" required>
                                        <option value="">Other</option>
                                        <option value="1">Misconduct</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Termination Date</label>
                                    <div class="md-form mt-0">
                                        <input class="datepicker" id="terminationdatedatetype" width="461" />
                                        <script>
                                            $('#terminationdatedatetype').datepicker({
                                                footer: true,
                                                modal: true
                                            });

                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="addtextarea">Reason</label>
                                <textarea id="addtextarea" class="form-control mb-4" rows="8"></textarea>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Notice Date</label>
                                    <div class="md-form mt-0">
                                        <input class="datepicker" id="terminationnoticemodel" width="461" />
                                        <script>
                                            $('#terminationnoticemodel').datepicker({
                                                footer: true,
                                                modal: true
                                            });

                                        </script>
                                    </div>
                                </div>
                            </div>

                            <button class="dept-save">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------------------------------------EDIT MODEL CLOSED HERE----------------------------------------------->
    <!-----------------------------------------------------------DELETE MODEL START HERE-------------------------------------------->
    <div class="department-input">
        <div class="modal fade" id="terminationdeletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Delete Termination</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-5 mt-4 mb-4">
                        <p>Are you sure want to delete?</p>
                        <div class="select-btn mx-auto">
                            <button class="deletetbtn">Delete</button>
                            <button class="deletetbtn ml-3">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------------------------------------DELETE MODEL CLOSED HERE----------------------------------------------->
</div>
{% endblock %}
