{% extends 'dashboard/base.html' %}

{% block content %}

<!--------------------------------------------------------------------------TOP NAV CLOSED HERE--------------------------------------------------- -->

<div class="container">
<div class="row">
<div class="col-md-12 mb-5">
<h3 class="float-left mt-0"><strong>Timesheet</strong></h3>
<button class="addbtn float-right" data-toggle="modal" data-target="#addterminationmodel"><i class="fa fa-plus pr-2"></i>Add Today Work</button>
</div>
</div>

<div class="row mb-4">
  <div class="col-md-12">
    <div class="timesheet-table">
    <div class="data-table">
    <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employee</th>
        <th scope="col">Date</th>
        <th scope="col">Projects</th>
        <th scope="col">Assigned Hours</th>
        <th scope="col">Hours</th>
         <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td>
          <h2 class="table-pic">
          <a><img src="../static/img/profile11.png" class="pr-3"></a>
          <a>John<br><span>Web Developer</span></a>
          </h2>
        </td>
          <td>28 Feb 2019</td>
        <td>Video Calling App</td>
        <td>20</td>
          <td>12</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit neque.</td>
        <td>
<a class="mr-4" data-toggle="dropdown" aria-haspopup="true"
aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
<div class="dropdown-menu mr-5">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationeditmodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationdeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
</div>
</td>
      </tr>
       <tr>
         <td>
          <h2 class="table-pic">
          <a><img src="../static/img/profile11.png" class="pr-3"></a>
          <a>John<br><span>Web Developer</span></a>
          </h2>
        </td>
          <td>28 Feb 2019</td>
        <td>Video Calling App</td>
        <td>20</td>
          <td>12</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit neque.</td>
        <td>
<a class="mr-4" data-toggle="dropdown" aria-haspopup="true"
aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
<div class="dropdown-menu mr-5">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationeditmodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationdeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
</div>
</td>
      </tr>
       <tr>
         <td>
          <h2 class="table-pic">
          <a><img src="../static/img/profile11.png" class="pr-3"></a>
          <a>John<br><span>Web Developer</span></a>
          </h2>
        </td>
          <td>28 Feb 2019</td>
        <td>Video Calling App</td>
        <td>20</td>
          <td>12</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit neque.</td>
        <td>
<a class="mr-4" data-toggle="dropdown" aria-haspopup="true"
aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
<div class="dropdown-menu mr-5">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationeditmodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationdeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
</div>
</td>
      </tr>
       <tr>
         <td>
          <h2 class="table-pic">
          <a><img src="../static/img/profile11.png" class="pr-3"></a>
          <a>John<br><span>Web Developer</span></a>
          </h2>
        </td>
          <td>28 Feb 2019</td>
        <td>Video Calling App</td>
        <td>20</td>
          <td>12</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit neque.</td>
        <td>
<a class="mr-4" data-toggle="dropdown" aria-haspopup="true"
aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
<div class="dropdown-menu mr-5">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationeditmodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationdeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
</div>
</td>
      </tr>
       <tr>
         <td>
          <h2 class="table-pic">
          <a><img src="../static/img/profile11.png" class="pr-3"></a>
          <a>John<br><span>Web Developer</span></a>
          </h2>
        </td>
          <td>28 Feb 2019</td>
        <td>Video Calling App</td>
        <td>20</td>
          <td>12</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit neque.</td>
        <td>
<a class="mr-4" data-toggle="dropdown" aria-haspopup="true"
aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
<div class="dropdown-menu mr-5">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationeditmodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationdeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
</div>
</td>
      </tr>
       <tr>
         <td>
          <h2 class="table-pic">
          <a><img src="../static/img/profile11.png" class="pr-3"></a>
          <a>John<br><span>Web Developer</span></a>
          </h2>
        </td>
          <td>28 Feb 2019</td>
        <td>Video Calling App</td>
        <td>20</td>
          <td>12</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit neque.</td>
        <td>
<a class="mr-4" data-toggle="dropdown" aria-haspopup="true"
aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
<div class="dropdown-menu mr-5">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationeditmodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationdeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
</div>
</td>
      </tr>
       <tr>
         <td>
          <h2 class="table-pic">
          <a><img src="../static/img/profile11.png" class="pr-3"></a>
          <a>John<br><span>Web Developer</span></a>
          </h2>
        </td>
          <td>28 Feb 2019</td>
        <td>Video Calling App</td>
        <td>20</td>
          <td>12</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit neque.</td>
        <td>
<a class="mr-4" data-toggle="dropdown" aria-haspopup="true"
aria-expanded="false"><button class="editbtn"><i class="fa fa-ellipsis-v"></i></button></a>
<div class="dropdown-menu mr-5">
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationeditmodel"><i class="fa fa-pencil pr-2"></i>Edit</a>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#terminationdeletemodal"><i class="fa fa-trash pr-2"></i>Delete</a>
</div>
</td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>
</div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="tablecaption float-left">
       <caption>Showing 1 to 10 of 12 entries</caption>
    </div>
  </div>
      <div class="col-md-6">
        <div class="pagination-section float-right">
        <nav aria-label="Page navigation example pb-0">
  <ul class="pagination pg-blue">
    <li class="page-item"><a class="page-link">Previous</a></li>
    <li class="page-item  active"><a class="page-link">1</a></li>
    <li class="page-item"><a class="page-link">2</a></li>
    <li class="page-item"><a class="page-link">3</a></li>
    <li class="page-item"><a class="page-link">Next</a></li>
  </ul>
</nav>
    </div>
  </div>
  </div>

  <!------------------------------------------------------------------pagination row closed here------------------------------------------------>
<!--------------------------------------------------------ADD LEAVE MODEL START HERE----------------------------------------------------------->
<div class="wrap-model">
<div class="modal fade" id="addterminationmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Today Work details</h4>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5 mt-4">
        <form>
        <div class="row">
 <div class="col-md-6 mb-3">
       <label>Project</label>
    <select class="custom-select browser-default" required>
      <option value="">Project</option>
      <option value="1">Office Management</option>
      <option value="2">Project Management</option>
        <option value="2">Video Calling App</option>
    </select>
      </div>
  </div>
    <div class="row mb-3">
     <div class="col-md-4">
         <label>Notice Date</label>
       <div class="md-form">
   <input class="datepicker" id="deadlinetype" width="143"/>
    <script>
        $('#deadlinetype').datepicker({ footer: true, modal: true });
    </script>
</div>
      </div>
     <div class="col-md-4">
<label for="hoursinput">Total Hours</label>
<input type="text" id="hoursinput" class="form-control" readonly/>
    </div>
     <div class="col-md-4">
<label for="exampleForm2">Remaining Hours</label>
<input type="text" id="exampleForm2" class="form-control" readonly/>
    </div>
  </div>

<div class="row mb-3">
     <div class="col-md-6">
         <label>Date</label>
       <div class="md-form mt-0">
   <input class="datepicker" id="dateinput" width="244" />
    <script>
        $('#dateinput').datepicker({ footer: true, modal: true });
    </script>
</div>
      </div>
     <div class="col-md-6">
      <label>Hours</label>
     <input type="text" class="form-control" placeholder="">
    </div>
  </div>

<div class="row">
    <div class="col-md-12">
      <label for="addtextarea">Reason</label>
      <textarea id="addtextarea" class="form-control mb-4" rows="8"></textarea> 
    </div>

     <button class="dept-save">Submit</button>
      </div>
  </form>
      </div>
    </div>
  </div>
</div>
</div>
<!---------------------------------------------------------------------------ADD LEAVE MODEL CLOSED HERE----------------------------------------------->
  
  <!--------------------------------------------------------EDIT MODEL START HERE----------------------------------------------------------->
<div class="wrap-model">
<div class="modal fade" id="terminationeditmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Resignation</h4>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5 mt-4">
       <form>
        <div class="row">
 <div class="col-md-6 mb-3">
       <label>Project</label>
    <select class="custom-select browser-default" required>
      <option value="">Project</option>
      <option value="1">Office Management</option>
      <option value="2">Project Management</option>
        <option value="2">Video Calling App</option>
    </select>
      </div>
  </div>
    <div class="row mb-3">
     <div class="col-md-4">
         <label>Notice Date</label>
       <div class="md-form">
   <input class="datepicker" id="timesheetinput" width="147" readonly/>
    <script>
        $('#timesheetinput').datepicker({ footer: true, modal: true });
    </script>
</div>
      </div>
     <div class="col-md-4">
<label for="hoursinput">Total Hours</label>
<input type="text" id="hoursinput" class="form-control" readonly/>
    </div>
     <div class="col-md-4">
<label for="exampleForm2">Remaining Hours</label>
<input type="text" id="exampleForm2" class="form-control" readonly/>
    </div>
  </div>

<div class="row mb-3">
     <div class="col-md-6">
         <label>Date</label>
       <div class="md-form mt-0">
   <input class="datepicker" id="timesheetdate" width="244" />
    <script>
        $('#timesheetdate').datepicker({ footer: true, modal: true });
    </script>
</div>
      </div>
     <div class="col-md-6">
      <label>Hours</label>
     <input type="text" class="form-control" placeholder="">
    </div>
  </div>

<div class="row">
    <div class="col-md-12">
      <label for="addtextarea">Reason</label>
      <textarea id="addtextarea" class="form-control mb-4" rows="8"></textarea> 
    </div>

     <button class="dept-save">Save</button>
      </div>
  </form>
      </div>
    </div>
  </div>
</div>
</div>
<!---------------------------------------------------------------------------EDIT MODEL CLOSED HERE----------------------------------------------->
<!-----------------------------------------------------------DELETE MODEL START HERE-------------------------------------------->
  <div class="department-input">
<div class="modal fade" id="terminationdeletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete Resignation</h4>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5 mt-4 mb-4">
        <p>Are you sure want to delete?</p>
     <div class="select-btn mx-auto">
      <button class="deletetbtn">Delete</button>
      <button class="deletetbtn ml-3">Cancel</button>
    </div>
      </div>
    </div>
  </div>
</div>
</div>
<!---------------------------------------------------------------------------DELETE MODEL CLOSED HERE----------------------------------------------->
</div>

{% endblock %}
