{% extends 'dashboard/settings-base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title"><strong>Update Password</strong></h3>

                </div>
                <div class="card-body">
                    {% if updated_password %}

                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Password Updated ! </strong> <a href="/home" class="alert-link">Back to Home</a>.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    {% endif %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="setting-section">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" name="old" class="form-control">
                                        <div class="text-danger">
                                            <p>{{ form.company_user_password.error }}</p>
                                        </div>
                                        {% if invalid_old %}
                                        <p class="text-danger"> ** invalid old password</p>
                                        {% endif %}

                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" name="new1">
                                        {{ form.company_user_password.errors }}
                                        {% if password_not_matches %}
                                        <p class="text-danger"> ** password not matches </p>
                                        {% endif %}


                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">

                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        {{ form.company_user_password }}
                                        {{ form.company_user_password.errors }}
                                        {% if password_not_matches %}
                                        <p class="text-danger"> ** password not matches </p>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-type pull-right">Update</button>

                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
